<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'products.css' %}">
    <link rel="stylesheet" href="{% static 'category_products.css' %}">
    <title>{{ category.name }} Products</title>
</head>
<body>
    <header>
        <div class="container">
          <a class="link" href="{% url 'index' %}"><button>Home</button></a>
          <a class="link" href="{% url 'products' %}"><button>Products</button></a>
          <a class="link" href="{% url 'categories' %}"><button>Categories</button></a>
          <a class="link" href="{% url 'cheapest' %}"><button>See Cheapest Products</button></a>
        </div>
    </header>
    <main>
        <div class="container category_detail">
            <h1>{{ category.name }} Products</h1>
            <div class="products ">
                {% for product in products %}
                <div class="product">
                    <img src="{{ product.photo.url }}" alt="{{ product.name }}">
                    <p>Name: {{ product.name }}</p>
                    <p>Price: {{ product.price }}</p>
                    <p>Category: {{ product.category.name }}</p>
                    <p>Discription: {{ product.discription}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>
