<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="container">
          <a class="link" href="{% url 'index' %}"><button>Home</button></a>
          <a class="link" href="{% url 'products' %}"><button>Products</button></a>
          <a class="link" href="{% url 'categories' %}"><button>Categories</button></a>
          <a class="link" href="{% url 'cheapest' %}"><button>See Cheapest Products</button></a>
        </div>
    </header>
    <main>
        <div class="container home">
            <h1>Simple App</h1>
            <ul>
                <li>First you should add categories</li>
                <li>Next you can add products with categories and price</li>
                <li>You can check your created categories or products in thier sites</li>
                <li>You also can check the cheapest products in <span>"See Cheapest Products"</span></li>
            </ul>
        </div>
    </main>

</body>
</html>