<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'products.css' %}">
    <title>Products</title>
</head>
<body>
    <header>
        <div class="container">
          <a class="link" href="{% url 'index' %}"><button>Home</button></a>
          <a class="link" href="{% url 'products' %}"><button>Products</button></a>
          <a class="link" href="{% url 'categories' %}"><button>Categories</button></a>
          <a class="link" href="{% url 'cheapest' %}"><button>See Cheapest Products</button></a>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="add_product">
                <h1>Add Product</h1>
                <form method="post" action="{% url 'products' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ form.name }}
                        {{ form.photo }}
                        {{form.price}}
                        {{ form.discription }}
                        {{ form.category }}
                    <button type="submit">Add Product</button>
                </form>
            </div>
            <div class="show_products">
                <button><a class="link" href="{% url 'products_list' %}">See All Products</a></button>
            </div>
        </div>
    </main>
</body>
</html>